
.headerGrid{
    grid-area: header;
}
/* INDEX MEDIAQUERYS */

/* FIN MEDIAQUERYS INDEX */
/* GRID ORIGEN */
/*  .gridMainOrigen{
    display: grid;
    grid-template-areas: 
    "iframe iframe txtPrincipal txtPrincipal"
    "txtSecundario txtSecundario imgIzq imgDer"
    "txtSecundario txtSecundario imgInferior imgInferior";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto;
} 
.posiIframe{grid-area: iframe;}
.encabezadoOri{grid-area: txtPrincipal;}
.txtSecundarioOri{grid-area: txtSecundario;}
.imgInferiorOri{grid-area: imgInferior;}
.imgDerOri{grid-area: imgDer;}
.imgIzqOri{grid-area: imgIzq;} */
/* FIN GRID ORIGEN */

/* GRID INDEX */
.gridContainer {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}
/* FIN GRID INDEX */

/* GRID MAIN INDEX */
.gridMainIndex{
    display: grid;
    gap: 8px;
    grid-template-areas: 
    "encabezado encabezado encebezado"
    "primerTxt primerTxt aside"
    "segundoTxt segundoTxt aside";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}
.encabezado{grid-area: encabezado;}
.primerTexto{grid-area: primerTxt;}
.segundoTexto{grid-area: segundoTxt;}
.asideGrid{grid-area: aside;}
/* FIN GRID MAIN INDEX */

header {
    background-image: linear-gradient(to bottom, #ffffff, #d1cdea, #a49ed5, #7470c0, #3c46aa);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.borderH{border: solid;}

.positionTxt{position: relative;
    left: 75px;
}

.sizeLogo {
    width: 150px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
}

.flexAni {
    display: flex;
    flex-direction: row;
}

.editLiHeader {
    list-style-type: none;
    padding: 18px;
    display: inline
}

.animacionLi {
    transform: translateY(0px);
    transition: all 1s;
}

.animacionLi:hover {
    transform: translateY(-5px);
    color: black;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CSS aplicado a main */
.asideCenter{display: flex;
    flex-direction: column;
    align-items: center;
}
.p-30{padding: 30px;}

h2{font-family: Verdana, Geneva, Tahoma, sans-serif;}

header, footer{margin-top: 40px;}
.sizeImg {
    width: 151%;
    height: 480px;
    ;
}

.flexEquipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flexStats {
    display: flex;
    flex-direction: column;
}

.colorTitulo {
    color: black;
}

.sizeTable {
    padding: 20px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
}

.bgMatch1 {
    background-image: url(../assets/img/inferno.jpg);
    height: 210px;
}

.bgMatch2 {
    background-image: url(../assets/img/vertigo.jpg);
    height: 210px;
}

.bgMatch3 {
    background-image: url(../assets/img/mirage.jpg);
    height: 210px;
}


.bgColor {
    background-color: white;
}

.fontColorCloud {
    color: lightblue;
}

.fontColorNVI {
    color: yellow;
}

.fontColorLiquid {
    color: blue;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bgImg {
    background-image: url(../assets/img/dust2.jpg);
    height: 450px;
}


/* CSS aplicado al footer */
.flexRedes {
    display: flex;
    flex-direction: column;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-image: linear-gradient(to bottom, #3c46aa, #7470c0, #a49ed5, #d1cdea, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

footer p {
    color: white;
}

.sizeRRSS {
    width: 60px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.sizeTiktok {
    width: 60px;
    height: 60px;
    border-style: solid;
}

.editLiFooter {
    list-style-type: none;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}