/* CSS aplicado al header */
.gridContainer{
/*     display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: auto auto auto auto auto auto;    
    gap: 0px 0px; 
    grid-template-areas: 
    "header header"
    "encabezado encabezado"
    "primerTexto aside"
    "primerTexto aside"
    "segundoTexto aside"
    "footer footer"; */
}
.headerGrid{
    grid-area: header;
}
.encabezadoGrid{
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
}
.imgGrid{
    grid-area: imagen;
}
.primerTexto{
    grid-area: primerTexto;
}
.segundoTexto{
    grid-area: segundoTexto;
}
.asideGrid{
    grid-area: aside;
}
.footerGrid{
    grid-area: footer;
}
header{
    background-image: linear-gradient(to bottom, #ffffff, #d1cdea, #a49ed5, #7470c0, #3c46aa);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.sizeLogo {
    position: relative;
    right: 120px;
    width: 150px;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.flexAni {
    display: flex;
    flex-direction: row;
}

.editLiHeader {
    list-style-type: none;
    padding: 18px;
    display: inline
}

.animacionLi {
    transform: translateY(0px);
    transition: all 1s;
}

.animacionLi:hover {
    transform: translateY(-5px);
    color: black;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CSS aplicado a main */
.sizeImg{
    width: 100%;
    height: 480px;;
}

.flexEquipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flexStats {
    display: flex;
    flex-direction: column;
}

.colorTitulo {
    color: black;
}

.sizeTable {
    padding: 20px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
}

.bgMatch1 {
    background-image: url(../assets/img/inferno.jpg);
    height: 210px;
}

.bgMatch2 {
    background-image: url(../assets/img/vertigo.jpg);
    height: 210px;
}

.bgMatch3 {
    background-image: url(../assets/img/mirage.jpg);
    height: 210px;
}


.bgColor {
    background-color: white;
}

.fontColorCloud {
    color: lightblue;
}

.fontColorNVI {
    color: yellow;
}

.fontColorLiquid {
    color: blue;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 30px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    line-height: 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bgImg {
    background-image: url(../assets/img/dust2.jpg);
    height: 450px;
}


/* CSS aplicado al footer */
.flexRedes {
    display: flex;
    flex-direction: column;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-image: linear-gradient(to bottom, #3c46aa, #7470c0, #a49ed5, #d1cdea, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

footer p {
    color: white;
}

.sizeRRSS {
    width: 60px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.sizeTiktok {
    width: 60px;
    height: 60px;
    border-style: solid;
}

.editLiFooter {
    list-style-type: none;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}